{% extends "App/base.html" %}

{% block main %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Sobre Nostros</h1>
        <p class="lead text-muted">La triste historia de un arquitecto y un politólogo que se metieron a programar en Python</p>
       
      </div>
    </div>
  </section>
  <main class="flex-shrink-0">
    <div class="container">
        
        <p class="lead" align="justify">
            Yo soy Mariano....
         </p>
         <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGLkVW782xjvg/profile-displayphoto-shrink_200_200/0/1626223993370?e=1665014400&v=beta&t=0S82hK8HheMpZ5qtVWwZozfxt2VOCLM9i9QPyZ7C1ek" />
         <br>
         <br>
         <p class="lead" align="justify">
            Yo soy Martín Grosvald. Soy licenciado en Ciencia Política (UBA) y Magister en Economía Aplicada (UTDT).
            Aun intento comprender por qué me puse a programar. Si queres saber más de mi, podes leer en mi <a href= "https://www.linkedin.com/in/martin-grosvald/" target="_blank"> perfil de Linkedin</a>.
        </p>
      
    </div>
  </main>

{% endblock %}
