{% extends "App/base.html" %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

{% load static %}
{% block main %}
<br>
<center><h1>Anuncios de Clases Particulares</h1></center>
<br>
m
    <div class="row">
        {% for anuncio in anuncios %}
     <div class="col-md-4">
         <div class="card mb-2">
              <img class="card-img-top" src="{% static 'anuncio.imagen' %}">
              <div class="card-body">
                  <p class="card-title">{{ anuncio.tiulo }}</p>
                  <p class="card-text">{{ anuncio.autor }}</p>
                  <p class="card-text">{{ anuncio.materia }}</p>
                  <p class="card-text">{{ anuncio.descripcion_clase}}</p>
                  
                  <a href=""
                     class="btn btn-primary">
                        Contactar Docente
                   </a>
              </div>
          </div>
     </div>
        {% endfor %}
    </div>
    </center>

{% endblock %}