{% extends "App/base.html" %}

{% block main %}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Bienvenidos a Tus Clases de Apoyo</h1>
      <p class="lead text-muted"> Estos son los cursos que tenemos para ofrecerte:</p>
    </div>
  </div>
</section>


<div class="container">
  <div class="row">
    <div class="col-md-12 search">
      <form method="get">
        <div id="custom-search-input">
          <div class="input-group col-md-12">
            <input type="text" class="form-control" placeholder="Buscar..." name="buscar">
            <span class="input-group-list">
              <i class="icon icon-search"></i>
              <button type="submit" class="btn btn-outline-secondary">Buscar...</button>
            </span>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
 <br>
 <br>

 {% load static %}

 <div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    {% for anuncio in anuncios %}
     <div class="col-md-4">
      <div class="card mb-6">
              <img class="card-img-top" src= "{{anuncio.imagen.url}}" >
              <div class="card-body">
                  <p class="card-title">{{ anuncio.titulo }}</p>
                  <p class="card-text">{{ user.first_name}} {{user.last_name}}</p>
                  <p class="card-text">{{ anuncio.materia }}</p>
                  <p class="card-text">{{ anuncio.descripcion_clase |safe }}</p>
                
                  <a href="{% url 'anuncio-detalle' anuncio.id %}"
                     class="btn btn-primary">
                        Ver aviso completo
                   </a>
              </div>
          </div>
     </div>
    {% endfor %}
    </div>
  </div>
</div>


{% endblock %}