En la entrega piden poner qué hizo cada uno.... 
    Creo que habría que decir que hicimos un poco de todo entre los dos. 
    No tengo tan claro que hizo cada uno.
Luego de crear usuario va a "operacion-ok". Pero luego no toma el user en el link. 
    Hipotesis, al crear usuario no logea, con lo cual no sabe a qué panel de usuario ir.. 
    Solución, ir a login y entrar con el usuario creado. 
    Comentario: creo que por eso no funciona para dirigirlo directamente a "perfil", porque no asigna un id.

El "form" de create y edit de aviso es distinto. Con lo cual, cuando vas a Edit, tenes mejores formatos para aplicar que desde create.

Cuando se va al detalle del aviso no se ve foto, es decir, que faltan elementos del model Avisos. 
    "Cada blog, es decir cada model Blog debe tener como mínimo, 
    un título, subtítulo, cuerpo, autor, fecha y una imagen (mínimo y obligatorio, puede tener más)."
Sumar datos del usuario al aviso.

Habría que crear view, template y url para eliminar usuario?

En el about agregar algo sobre el proyecto.

revisar el readme

Hacer video de 10 minutos

3 casos de prueba
